/* popOver styling  */
.my-popover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    z-index: 9999;
}

/* side navbar item styling  */

.my-nav-item:hover{
  background-color: #0D6EFD;
  color: #fff !important;
  padding-left: 22px !important;
}
